<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900|Open+Sans" rel="stylesheet">
</head>
<body>
  <div class="container container-contact">
    <section class="main">
      <div id="logo">
        <div class="logo-text-container">
          <span class="sub-title">Christophe</span>
          <span class="title">THOMAS</span>
          <span class="description">Tailleur de Pierre depuis 2002</span>
        </div>
        <div class="hamburger">
          <div class="bars">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </section>
    <section class="sidebar">
      <header><h1>Me contacter</h1></header>
      <section>
        <div class="contact-form">
          <p>Lorem ipsum dolor sit amet, consectetur adipisi perspiciatis fugit optio voluptate eius praesentium dolorum. Cupiditate distinctio velit consectetur corporis odit voluptatibus dolores?</p>
          <form action="#">
            <label for="name">Nom et prénom</label>
            <input class="input" type="text" />
            <label for="name">Email</label>
            <input class="input" type="text" />
            <label for="name">Message</label>
            <textarea name="msg" id="msg" class="input" rows="10"></textarea>
            <div class="buttons">
              <button class="softblack">Annuler</button>
              <button>Envoyer</button>
            </div>
          </form>
        </div>
        <div class="contact-infos">
          TEST
        </div>
      </section>
    </section>
    <footer>
      <span>Footer <a href="#">Leo</a></span>
      <span>Footer</span>
    </footer>
  </div>
</body>
</html>
