<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900|Open+Sans" rel="stylesheet">
</head>
<body class="no-animated">
  <div class="container container-gallerie">
    <section class="loader show">
      <div class="loader-logo"></div>
      <span>Chargement</span>
    </section>
    <section class="main appear t-transform">
      <div id="logo">
        <div class="logo-text-container">
          <span class="sub-title">Christophe</span>
          <span class="title">THOMAS</span>
          <span class="description">Tailleur de Pierre depuis 2002</span>
        </div>
        <div class="hamburger">
          <div class="bars">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </section>
    <section class="sidebar appear t-transform-opacity t-delay-1">
      <header class="appear t-transform t-delay-2"><h1 class="appear t-transform-opacity t-delay-1">Gallerie Photo</h1></header>
      <section class="gallerie-container custom-scrollbar">
        <a class="gallerie-thumbnail" href="#">
          <figure>
            <div class="img-container">
              <img src="/assets/images/example.png" alt="example">
            </div>
            <div class="infos">
              <span>Test de texte long Test de texte long Test de texte long Test de texte long</span>
              <time datetime="2008-02-14 20:00">Il y a 20h</time>
            </div>
          </figure>
        </a>
        <a class="gallerie-thumbnail" href="#">
          <figure>
            <div class="img-container">
              <img src="/assets/images/example.png" alt="example">
            </div>
            <div class="infos">
              <span>Test de texte long Test de texte long Test de texte long Test de texte long</span>
              <time datetime="2008-02-14 20:00">Il y a 20h</time>
            </div>
          </figure>
        </a>
        <a class="gallerie-thumbnail" href="#">
          <figure>
            <div class="img-container">
              <img src="/assets/images/example.png" alt="example">
            </div>
            <div class="infos">
              <span>Test de texte long Test de texte long Test de texte long Test de texte long</span>
              <time datetime="2008-02-14 20:00">Il y a 20h</time>
            </div>
          </figure>
        </a>
        <a class="gallerie-thumbnail" href="#">
          <figure>
            <div class="img-container">
              <img src="/assets/images/example.png" alt="example">
            </div>
            <div class="infos">
              <span>Test de texte long Test de texte long Test de texte long Test de texte long</span>
              <time datetime="2008-02-14 20:00">Il y a 20h</time>
            </div>
          </figure>
        </a>
        <a class="gallerie-thumbnail" href="#">
          <figure>
            <div class="img-container">
              <img src="/assets/images/example.png" alt="example">
            </div>
            <div class="infos">
              <span>Test de texte long Test de texte long Test de texte long Test de texte long</span>
              <time datetime="2008-02-14 20:00">Il y a 20h</time>
            </div>
          </figure>
        </a>

      </section>
    </section>
  </div>
  <footer class='appear t-height t-delay-1'>
    <span>Footer <a href="#">Leo</a></span>
    <span>Footer</span>
  </footer>
</body>
</html>
