<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900|Open+Sans" rel="stylesheet">
</head>
<body>
  <div class="container container-frontpage">
    <section class="main">
      <div id="logo">
        <div class="logo-text-container">
          <span class="sub-title">Christophe</span>
          <span class="title">THOMAS</span>
          <span class="description">Tailleur de Pierre depuis 2002</span>
        </div>
        <div class="hamburger">
          <div class="bars">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <p class="story">
        L'entreprise  située à <a href="#">Tours</a>,  est spécialisée est spécialisée dans la restauration de bâtiments anciens, la taille de pierre, la maçonnerie traditionnelle et la création et restauration de cheminées à foyer ouvert.<br/><br/>
        Les connaissances et tournemains acquis depuis trente ans dans la restauration et la rénovation de bâtiments anciens à travers la France me permettent de vous proposer toute la gamme des techniques de construction traditionnelles pour votre patrimoine en Touraine : taille de pierre, enduits chaux, terre-cuite, terre crue, chanvre... Dans mon atelier tourangeau, je taille et restaure les pierres dures ou tendres pour réaliser des cheminées, fontaines, tables, cadrans solaires... en grès, granit, calcaire ou marbre.
      </p>
      <div class="buttons">
        <a href="#">ME CONTACTER</a>
        <a href="#">GALLERIE PHOTO</a>
      </div>
    </section>
    <section class="sidebar">
      <div class="infos"><span class="title">Coordonnées</span><br/>
        5-7 rue du Maréchal<br/>
        Lyautey 37000<br/>
        <a href="#">TOURS</a><br/>
        <br/>
        Tél. 09.72.86.34.26<br/>
        Port. 06.88.87.29.15<br/>
      </div>
    </section>
    <footer>
      <span>Footer <a href="#">Leo</a></span>
      <span>Footer</span>
    </footer>
  </div>
</body>
</html>
