@media #{$medium-down} {
    html, body {
        height: auto;
    }

    .appear {
        transform: none !important;
    }
}

@media #{$medium-up} {
    html, body {
        overflow: hidden;
    }

    body.no-animated {
        & .appear, & .disappear {
            transition-duration: 0s;
            transition-delay: 0s;
        }
    }

    .appear {
        transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }

    .disappear {
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .t-transform {
        transition-property: transform;
        transition-duration: .5s;
        will-change: transform;
    }

    .t-height {
        transition-property: height;
        transition-duration: .5s;
        will-change: height;

        &.appear {
            height: 0;
        }
    }

    .t-transform-opacity {
        transition: transform .5s, opacity .2s;
        will-change: transform, opacity;
    }

    .t-transform-opacity.appear {
        transform: translateY(10px);
        opacity: 0;
    }

    .t-opacity {
        transition-property: opacity;
        transition-duration: .5s;
        will-change: opacity;

        &.appear {
            opacity: 0;
        }
    }

    $numberOfDelay: 10;

    @for $i from 1 through $numberOfDelay {
        .t-delay-#{$i} {
            transition-delay: 0.25s * $i;

            &.appear {
                transition-delay: 0.25s * 5 - 0.25s * $i;
            }
        }
    }
}