.container.container-contact {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: calc(100% - 60px) 60px;
    grid-template-areas: "main sidebar" "footer footer";

    & .main {
        grid-area: main;
        background: $black;
    }

    & .sidebar {
        grid-area: sidebar;
        background: $sable;
        display: flex;
        flex-direction: column;

        & header {
            width: 100%;
            height: 160px;
            background: $brand;
            color: #111;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            & h1 {
                font-size: 48px;
                font-family: $font-title;
                font-weight: bold;
                margin: 20px 40px;
            }
        }

        & section {
            display: flex;
            width: 100%;
            height: 100%;

            & .contact-form, & .contact-infos {
                width: 50%;
                height: 100%;
            }

            & .contact-form {
                width: 50%;
                height: 100%;
                background: $softblack;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 40px;

                & p {
                    color: $gray;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 32px;
                }

                & label {
                    color: $white;
                    font-size: 16px;
                    display: block;
                    margin-bottom: 16px;
                }

                & .input {
                    border: none;
                    width: 100%;
                    padding: 0 12px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 18px;
                    margin-bottom: 24px;
                    font-family: sans-serif;

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 5px #444;
                    }
                }

                & textarea.input {
                    height: 130px;
                    padding: 12px 12px;
                    resize: none;
                    line-height: 22px;
                }

                & .buttons {
                    display: flex;
                    justify-content: space-between;

                    & button {
                        width: auto;
                        height: 50px;
                        line-height: 50px;
                        background: $brand;
                        color: $white;
                        text-align: center;
                        border: none;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 16px;
                        padding: 0 16px;
                        cursor: pointer;
                        transition: all .2s;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            color: $white;
                            background: lighten($brand, 5%);
                            transform: translateY(-3px);
                            box-shadow: 0 3px 0 darken($brand, 20%);
                        }

                        &:active {
                            background: darken($brand, 20%);
                            color: $white;
                            transform: translateY(-1px);
                            box-shadow: 0 1px 0 darken($brand, 20%);
                        }

                        &.softblack {
                            background: #222;

                            &:hover {
                                color: $white;
                                background: lighten(#222, 5%);
                                box-shadow: 0 3px 0 darken(#222, 20%);
                            }

                            &:active {
                                background: darken(#222, 20%);
                                box-shadow: 0 1px 0 darken(#222, 20%);
                            }
                        }
                    }
                }
            }

            & .contact-infos {
                height: 100%;
                background: $sable;
                display: flex;
                flex-direction: column;

                & a {
                    color: $softblack;
                    display: inline-block;
                    text-decoration: none;
                    border-radius: 3px;
                    background: darken($sable, 15%);
                    padding: 0 5px;

                    &:hover {
                        background: darken($sable, 25%);
                    }
                }

                & .addresses {
                    width: 100%;
                    height: 70%;
                    padding: 0 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    & h4 {
                        font-size: 32px;
                        font-weight: bold;
                        font-family: $font-title;
                        margin-bottom: 8px;
                    }

                    & address {
                        font-size: 16px;
                        line-height: 22px;
                        margin-top: 16px;
                    }
                }

                & .google-maps {
                    overflow: hidden;
                    padding-bottom: 40%;
                    position: relative;
                    height: 0;
                    width: 100%;

                    & iframe {
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                    }
                }
            }
        }
    }
}

@media #{$medium-down} {
    .container.container-contact {
        padding-top: 60px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        & .main {
            background: $black;
        }

        & .sidebar {
            background: $sable;
            display: flex;
            flex-direction: column;

            & header {
                width: 100%;
                height: 92px;
                line-height: 92px;
                background: $brand;
                color: #111;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                & h1 {
                    font-size: 36px;
                    font-family: $font-title;
                    font-weight: bold;
                    margin: 0;
                    color: $black;
                    padding: 0 16px;
                }
            }

            & section {
                display: flex;
                width: 100%;
                height: auto;
                flex-direction: column;

                & .contact-form {
                    width: 100%;
                    padding: 32px 16px;
                }

                & .contact-infos {
                    background: $white;
                    width: 100%;

                    & .addresses {
                        padding: 32px 16px;
                        width: 100%;
                    }
                }
            }
        }
    }

    & footer {
        padding: 16px 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & span {
            display: block;
            height: auto;
            padding: 16px 0;
            line-height: 32px;
        }
    }
}