footer {
    grid-area: footer;
    background: #222;
    position: relative;
    z-index: 2;
    color: #AAA;
    padding: 0 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 20px;

    & a {
        color: $white;
        display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.2);
        padding: 0 5px;

        &:hover {
            background: rgba(0, 0, 0, 0.5);
        }
    }
}

@media #{$large-down} {
    footer {
        padding: 0 40px;
    }
}