footer {
    grid-area: footer;
    background: #222;
    position: relative;
    z-index: 2;
    color: #AAA;
    padding: 0 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media #{$large-down} {
    footer {
        padding: 0 40px;
    }
}