.container.container-gallerie {
    width: 100%;
    height: 100%;
    display: flex;

    & .main {
        display: flex;
        width: 160px;
        height: 100%;
        background: $black;
        padding: 0;

        &.appear {
            transform: translateX(-160px);
        }
    }

    & .sidebar {
        width: calc(100% - 160px);
        background: $sable;
        display: flex;
        flex-direction: column;

        & header {
            width: 100%;
            height: 160px;
            background: $white;
            color: #111;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            z-index: 9999;
            overflow: hidden;

            & button {
                background: $black;
                color: $white;
                bottom: 0;
                border: none;
                left: calc(100% - 400px);
                height: 35px;
                line-height: 35px;
                padding: 0 16px;
                font-size: 16px;
                font-family: $font-title;
                font-weight: bold;
                text-transform: uppercase;
                position: absolute;
                z-index: 99999;
                transition: background .2s, transform .2s;
                cursor: pointer;
                transform: translateY(40px);

                & i {
                    margin-right: 8px;
                }

                &:hover {
                    background: lighten($softblack, 20%);
                }

                &:active {
                    background: $black;
                }
            }

            &.appear {
                transform: translateY(-160px);
            }

            & h1 {
                font-size: 48px;
                font-family: $font-title;
                font-weight: bold;
                margin: 20px 40px;
            }
        }

        &.view-active {
            & header {
                & button {
                    transform: none;
                }
            }

            & section.gallerie-container {
                padding: 0;
                overflow: hidden;

                & .gallerie-view {
                    display: flex;
                }
            }
        }

        & section.gallerie-container {
            display: flex;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;

            & .gallerie-view {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;

                figure {
                    height: 100%;
                    flex-grow: 3;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                    }
                }

                .informations {
                    width: 400px;
                    background: $brand;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 32px;
                    color: $softblack;

                    &.appear {
                        transform: translateX(400px);
                    }

                    & h2 {
                        color: $white;
                        position: relative;
                        font-family: $font-title;
                        font-weight: bold;
                        font-size: 24px;
                        margin-bottom: 16px;

                        &:after {
                            content: '';
                            bottom: 4px;
                            left: 0;
                            width: 100%;
                            position: absolute;
                            background: $white;
                            height: 3px;
                        }

                        span {
                            position: relative;
                            z-index: 2;
                            background: $brand;
                            padding-right: 8px;
                        }
                    }

                    & p {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }

            & .gallerie-thumbnails {
                display: flex;
                width: 100%;
                height: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
                display: flex;
                flex-wrap: wrap;

                & .gallerie-thumbnail {
                    width: 33.3333%;
                    height: 230px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & figure {
                        width: 90%;
                        height: 190px;
                        border-radius: 5px;
                        color: $softblack;
                        overflow: hidden;
                        position: relative;

                        & .img-container {
                            width: 100%;
                            height: 100%;
                            background: $black;
                            transition: all .2s;

                            & img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: 50% 50%;
                                opacity: .7;
                                transition: transform .3s, opacity .3s;
                            }
                        }

                        & .infos {
                            top: calc(100% - 50px);
                            transition: top .2s;
                            position: absolute;
                            width: calc(100% - 48px);

                            & span {
                                position: absolute;
                                top: 0;
                                width: 100%;
                                line-height: 40px;
                                height: 40px;
                                margin: 0 24px;
                                color: $white;
                                font-family: $font-title;
                                font-weight: bold;
                                overflow: hidden;

                                &:after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    bottom: 4px;
                                    width: 0%;
                                    transition: width .5s;
                                    height: 2px;
                                    background: $white;
                                }
                            }

                            & time {
                                position: absolute;
                                top: 45px;
                                color: rgba($white, 0.7);
                                font-size: 14px;
                                margin: 0 24px;
                                transition: transform .5s .1s, opacity .5s .1s;
                                transform: translateY(10px);
                                opacity: 0;
                            }
                        }
                    }

                    &:hover {
                        & .img-container {
                            img {
                                transform: scale(1.05);
                                opacity: .3;
                            }
                        }

                        & .infos {
                            top: calc(100% - 80px);

                            & span:after {
                                width: 40%;
                            }

                            & time {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }

                    &:active {
                        & .img-container {
                            img {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }
    }
}

// ===================================================================================
//    MEDIUM DOWN
// ===================================================================================

@media #{$large-down} {
    .container.container-gallerie {
        & .sidebar {
            section.gallerie-container {
                & .gallerie-thumbnails .gallerie-thumbnail {
                    width: 50%;
                }
            }
        }
    }
}

// ===================================================================================
//    MEDIUM DOWN
// ===================================================================================

@media #{$medium-down} {
    .container.container-gallerie {
        margin-top: 60px;
        height: auto;
        display: flex;
        flex-direction: column;

        & .main {
            background: $black;
            width: 100%;
        }

        & .sidebar {
            background: $sable;
            width: 100%;
            display: flex;
            flex-direction: column;

            &.view-active {
                & section.gallerie-container .gallerie-thumbnails {
                    display: none;
                }

                & section.gallerie-container .gallerie-view {
                    position: static;
                }
            }

            & header {
                width: 100%;
                height: 92px;
                line-height: 92px;
                background: $white;
                color: #111;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                & h1 {
                    font-size: 36px;
                    font-family: $font-title;
                    font-weight: bold;
                    margin: 0;
                    color: $black;
                    padding: 0 16px;
                }

                & button {
                    left: auto;
                    right: 0;
                }
            }

            & section {
                display: flex;
                width: 100%;
                height: auto;
                flex-direction: column;
            }

            &.view-active {
                & section.gallerie-container {
                    padding: 0;
                    overflow: auto;
                }
            }

            & section.gallerie-container {
                padding: 8px 0;

                & .gallerie-thumbnails {
                    overflow-y: auto;

                    .gallerie-thumbnail {
                        width: 102%;
                        height: 220px;

                        & figure {
                            width: 95%;
                        }
                    }
                }

                & .gallerie-view {
                    flex-direction: column;

                    & figure {
                        & img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .informations {
                        width: 100%;

                        & p {
                            font-size: 16px;
                            line-height: 24px;
                        }

                        & article:first-child {
                            margin-bottom: 32px;
                        }
                    }
                }
            }
        }
    }
}