section.loader {
    background: rgba($black, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    transition: opacity 1s;
    color: $white;
    font-family: $font-title;
    font-weight: bold;
    opacity: 0;

    & span {
        transition: transform 1s, opacity 1s;
    }

    &.show {
        opacity: 1;

        & .loader-logo, & span {
            opacity: 1;
            transform: scale(1);
        }
    }

    & .loader-logo {
        transition: transform 1s, opacity 1s;
        width: 70px;
        height: 70px;
        opacity: 0;
        transform: scale(0);
        margin-bottom: 16px;
        background: url("/assets/images/logo.png");
        background-size: 70px;
        position: relative;
    }
}