#logo {
    font-family: $font-title;
    position: relative;
    padding-left: 190px;

    &:after {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 170px;
        height: 170px;
        background: url("/assets/images/logo.png");
        background-size: 170px 170px;
    }

    & .logo-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & .sub-title {
        color: $brand;
        font-weight: bold;
        font-size: 42px;
        line-height: 42px;
    }

    & .title {
        color: $white;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
    }

    & .description {
        line-height: 32px;
        color: #959595;
        font-weight: bold;
    }

    & .hamburger {
        display: none;
    }
}

@media #{$large-down} {
    .container.container-frontpage {
        & #logo {
            font-family: "Montserrat", sans-serif;
            position: relative;
            padding-left: 140px;

            &:after {
                content: "";
                position: absolute;
                top: -15px;
                left: 0;
                width: 120px;
                height: 120px;
                background: url("/assets/images/logo.png");
                background-size: 120px 120px;
            }

            & .sub-title {
                color: $brand;
                font-weight: bold;
                font-size: 36px;
                line-height: 20px;
            }

            & .title {
                color: $white;
                font-weight: 900;
                font-size: 62px;
                line-height: 62px;
            }

            & .description {
                line-height: 16px;
                color: #959595;
                font-weight: bold;
            }
        }
    }
}

@media #{$medium-down} {
    .container {
        #logo {
            font-family: "Montserrat", sans-serif;
            position: relative;
            height: 60px;
            display: flex;
            justify-content: flex-start;
            padding-left: 0;
            margin-bottom: 36px;
            background: rgba(0, 0, 0, 0.5);

            &:after {
                content: none;
            }

            &:before {
                content: "";
                display: block;
                width: 40px;
                height: 40px;
                margin: 10px 16px;
                background: url("/assets/images/logo.png");
                background-size: 40px 40px;
            }

            & .logo-text-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            & .sub-title, & .title {
                display: inline-flex;
                font-size: 24px;
            }

            & .description {
                display: none;
            }

            & .hamburger {
                color: white;
                margin-left: auto;
                align-self: center;
                display: flex;
                width: 60px;
                height: 60px;
                cursor: pointer;
                transition: background .2s;

                & .bars {
                    margin: auto;
                    width: 24px;
                    height: 18px;
                    position: relative;

                    & span {
                        display: block;
                        background: $white;
                        height: 2px;
                        top: calc(50% - 1px);
                        width: 100%;
                        border-radius: 5px;
                        position: absolute;
                        transition: transform .2s;

                        &:first-child {
                            top: 0;
                        }

                        &:last-child {
                            top: auto;
                            bottom: 0;
                        }
                    }
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                }

                &.active, &:hover {
                    & span {
                        height: 0px;
                        transform-origin: 50% 50%;

                        &:first-child {
                            transform: translateY(8px) rotate(45deg);
                            height: 2px;
                        }

                        &:last-child {
                            transform: translateY(-8px) rotate(-45deg);
                            height: 2px;
                        }
                    }
                }
            }
        }
    }
}

@media #{$medium-down} {
    .container.container-frontpage {
        & #logo {
            font-family: "Montserrat", sans-serif;
            position: relative;
            height: 180px;
            display: flex;
            justify-content: center;
            padding-left: 0;
            margin-bottom: 12px;
            background: rgba(0, 0, 0, 0.5);

            &:after {
                content: none;
            }

            &:before {
                content: "";
                display: block;
                margin-right: 12px;
                margin-top: 51px;
                width: 72px;
                height: 72px;
                background: url("/assets/images/logo.png");
                background-size: 72px 72px;
            }

            & .logo-text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            & .sub-title {
                display: inline-flex;
                flex-grow: 0;
                color: $brand;
                font-weight: bold;
                font-size: 24px;
                line-height: 20px;
            }

            & .title {
                display: inline-flex;
                flex-grow: 0;
                color: $white;
                font-weight: 900;
                font-size: 42px;
                line-height: 42px;
            }

            & .description {
                display: inline-flex;
                flex-grow: 0;
                font-size: 12px;
                line-height: 16px;
                color: #959595;
                font-weight: bold;
            }

            & .hamburger {
                display: none;
            }
        }
    }
}

.container-contact {
    & .main {
        & #logo {
            position: absolute;
            bottom: -100px;
            left: 0;
            padding-left: 0;
            width: calc(100vh - 60px);
            height: 160px;
            transform-origin: 0 0;
            transform: rotate(-90deg);
            display: flex;
            justify-content: center;
            padding-left: 0;

            &:after {}

            & .description {
                display: none;
            }

            & .sub-title {}

            & .title, & .sub-title {
                font-size: 40px;
            }

            &:after {
                content: none;
            }

            &:before {
                content: "";
                position: absolute;
                top: calc(50% - 35px);
                left: 40px;
                width: 70px;
                height: 70px;
                background: url("/assets/images/logo.png");
                background-size: 70px 70px;
                transform-origin: 50% 50%;
                transform: rotate(90deg);
            }

            & .logo-text-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media #{$medium-down} {
    .container-contact {
        & .main {
            & #logo {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 60px;
                transform: none;
                display: flex;
                justify-content: flex-start;
                padding-left: 16px;
                margin-bottom: 0;
                background: $black;
                box-shadow: 0 3px 15px rgba($black, 0.5);

                &:after {
                    content: none;
                }

                &:before {
                    content: none;
                    display: block;
                    width: 40px;
                    height: 40px;
                    margin: 10px 16px;
                    background: url("/assets/images/logo.png");
                    background-size: 40px 40px;
                }

                & .logo-text-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                & .title, & .sub-title {
                    display: inline-flex;
                    font-size: 24px;
                }

                &:after {
                    content: none;
                }

                & .logo-text-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                & .hamburger {
                    color: white;
                    margin-left: auto;
                    align-self: center;
                    display: flex;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    transition: background .2s;

                    & .bars {
                        margin: auto;
                        width: 24px;
                        height: 18px;
                        position: relative;

                        & span {
                            display: block;
                            background: $white;
                            height: 2px;
                            top: calc(50% - 1px);
                            width: 100%;
                            border-radius: 5px;
                            position: absolute;
                            transition: transform .2s;

                            &:first-child {
                                top: 0;
                            }

                            &:last-child {
                                top: auto;
                                bottom: 0;
                            }
                        }
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 0.1);
                    }

                    &.active, &:hover {
                        & span {
                            height: 0px;
                            transform-origin: 50% 50%;

                            &:first-child {
                                transform: translateY(8px) rotate(45deg);
                                height: 2px;
                            }

                            &:last-child {
                                transform: translateY(-8px) rotate(-45deg);
                                height: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media-query ($small-down) {
    .container.container-main {}
}