#logo {
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding-left: 190px;

    &:after {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 170px;
        height: 170px;
        background: url("/assets/images/logo.png");
        background-size: 170px 170px;
    }

    & .logo-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & .sub-title {
        color: #FCB635;
        font-weight: bold;
        font-size: 42px;
        line-height: 42px;
    }

    & .title {
        color: #fff;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
    }

    & .description {
        line-height: 32px;
        color: #959595;
        font-weight: bold;
    }

    & .hamburger {
        display: none;
    }
}

@media #{$large-down} {
    #logo {
        font-family: "Montserrat", sans-serif;
        position: relative;
        padding-left: 140px;

        &:after {
            content: "";
            position: absolute;
            top: -15px;
            left: 0;
            width: 120px;
            height: 120px;
            background: url("/assets/images/logo.png");
            background-size: 120px 120px;
        }

        & .sub-title {
            color: #FCB635;
            font-weight: bold;
            font-size: 36px;
            line-height: 20px;
        }

        & .title {
            color: #fff;
            font-weight: 900;
            font-size: 62px;
            line-height: 62px;
        }

        & .description {
            line-height: 16px;
            color: #959595;
            font-weight: bold;
        }
    }
}

@media #{$medium-down} {
    #logo {
        font-family: "Montserrat", sans-serif;
        position: relative;
        height: 180px;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 36px;
        background: rgba(0, 0, 0, 0.5);

        &:after {
            content: none;
        }

        &:before {
            content: "";
            display: block;
            margin-right: 32px;
            margin-top: 25px;
            width: 120px;
            height: 120px;
            background: url("/assets/images/logo.png");
            background-size: 120px 120px;
        }

        & .logo-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        & .sub-title {
            display: inline-flex;
            flex-grow: 0;
            color: #FCB635;
            font-weight: bold;
            font-size: 36px;
            line-height: 20px;
        }

        & .title {
            display: inline-flex;
            flex-grow: 0;
            color: #fff;
            font-weight: 900;
            font-size: 62px;
            line-height: 62px;
        }

        & .description {
            display: inline-flex;
            flex-grow: 0;
            line-height: 16px;
            color: #959595;
            font-weight: bold;
        }
    }

    #logo.is-small {
        font-family: "Montserrat", sans-serif;
        position: relative;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
        margin-bottom: 36px;
        background: rgba(0, 0, 0, 0.5);

        &:after {
            content: none;
        }

        &:before {
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            margin: 10px 16px;
            background: url("/assets/images/logo.png");
            background-size: 40px 40px;
        }

        & .logo-text-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        & .sub-title, & .title {
            display: inline-flex;
            font-size: 24px;
        }

        & .description {
            display: none;
        }

        & .hamburger {
            color: white;
            margin-left: auto;
            align-self: center;
            display: flex;
            width: 60px;
            height: 60px;
            cursor: pointer;
            transition: background .2s;

            & .bars {
                margin: auto;
                width: 24px;
                height: 18px;
                position: relative;

                & span {
                    display: block;
                    background: #fff;
                    height: 2px;
                    top: calc(50% - 1px);
                    width: 100%;
                    border-radius: 5px;
                    position: absolute;
                    transition: transform .2s;

                    &:first-child {
                        top: 0;
                    }

                    &:last-child {
                        top: auto;
                        bottom: 0;
                    }
                }
            }

            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }

            &.active, &:hover {
                & span {
                    height: 0px;
                    transform-origin: 50% 50%;

                    &:first-child {
                        transform: translateY(8px) rotate(45deg);
                        height: 2px;
                    }

                    &:last-child {
                        transform: translateY(-8px) rotate(-45deg);
                        height: 2px;
                    }
                }
            }
        }
    }
}