// $variables
$brand: #FCB635;
$black: #010101;
$softblack: #111111;
$sable: #EEEBCF;
$white: #FEFEFE;
$gray: #8E8787;
$font-title: "Montserrat", sans-serif;

// TOOLS
@import "./tools/reset";
@import "./tools/responsive";

// MODULES
@import "./modules/front";
@import "./modules/footer";
@import "./modules/contact";
@import "./modules/gallerie";
@import "./modules/logo";